html, body {
    font-family: 'Indie Flower', serif;
}

p, li, ul {
  font-family: 'Alegreya', serif;
}

a {
  font-family: 'Indie Flower', serif;
}

code {
  color: #FF8C00;
  background-color: #424242;
}


.container-front {
  width: auto;
  max-width: 800px;
  text-align: justify;
}

.label-tag {
    background-color: #FF8C00;
    color:#fff;
}

pre {
  background: #424242;
  color: #ffffff;
}
