<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.social.github }}
      <li><a href="http://github.com/{{ .Site.Params.social.github }}"><i class="fa fa-github"></i></a></li>
    {{ end }}

    {{ if .Site.Params.social.email }}
      <li><a href="mailto:{{ .Site.Params.social.email }}"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ if .Site.Params.social.twitter }}
      <li><a href="http://twitter.com/{{ .Site.Params.social.twitter }}"><i class="fa fa-twitter"></i></a></li>
    {{ end }}

    {{ if .Site.Params.social.linkedIn }}
      <li><a href="http://linkedin.com/in/{{ .Site.Params.social.linkedIn }}"><i class="fa fa-linkedin"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.stackoverflow }}
      <li><a href="http://stackoverflow.com/{{ .Site.Params.social.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a></li>
    {{ end }}
  </ul>
</div>
