{{ partial "head" . }}
  <body>
    <div id="wrap">
    {{ partial "header" . }}
    <section id="about">
      <div class="container">
      <img class = "img-responsive" src="{{ .Site.BaseURL }}{{ .Site.Params.front }}">
        <div class="container-front">
        <h3>My name is <strong>{{ .Site.Params.author }}</strong> and I'm a lecturer and researcher at <a href = "https://www.inverness.uhi.ac.uk/", target= "_blank">Inverness College UHI</a>. My background is a BSc (Hons) and a PhD in Maths from Edinburgh University. Maths is most of my teaching but I now spend a lot of time working with and teaching <a href = "https://cran.r-project.org/", target = "_blank">R</a>. You can look at my <a href="{{ .Site.BaseURL }}research/">research</a> or read my occasional ramblings on my <a href="{{ .Site.BaseURL }}blog/">blog</a>. I spend my spare time with my wonderful wife, our new baby girl and our wee dog, riding my bike and curling (you know the sport with granite rocks and ice!). Contact me at <a href="http://twitter.com/{{ .Site.Params.social.twitter }}">@{{ .Site.Params.social.twitter }}</a>. All views, ideas and documents on this site are my own.</h3>
        </div>
        {{ partial "social.html" . }}
      </div>
    </section>
  </div>
  {{ partial "footer" . }}
</body>
</html>