{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>My name is <strong>{{ .Site.Params.author }}</strong> and I'm a lecturer/researcher at <a href = "https://www.inverness.uhi.ac.uk/", target= "_blank">Inverness College UHI</a>. My background is Maths, which is most of my <a href="{{ .Site.BaseURL }}teaching/"> teaching </a> but I now spend a lot of time working with and teaching <a href = "https://cran.r-project.org/", target = "_blank">R</a>. You can look at my <a href="{{ .Site.BaseURL }}research/">research</a> or read my occasional ramblings on my <a href="{{ .Site.BaseURL }}blog/">blog</a>. Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
